/* קונטיינר כללי */
.login-admin-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  /* כותרת */
  .login-admin-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  /* כפתור קישור לדף מנהל */
  .login-admin-container .admin-link {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .login-admin-container .admin-link:hover {
    background-color: #0056b3;
  }
  
  /* שדות קלט */
  .login-admin-container input[type="text"],
  .login-admin-container input[type="password"] {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
  }
  
  /* כפתור שליחה */
  .login-admin-container button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 1em;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-admin-container button:hover {
    background-color: #218838;
  }
  